* {
    font-family: 'Roboto Mono', monospace;    
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #000000;
    font-size: 62.5%;
}

a:link, a:visited {
    color: blue;
}

h1, h2, h3, h4, h5, h6, p, caption, li, div {
    color: white;
    line-height: 150%;
}

.wrapper {
    width: 100%;
    margin: 2rem auto;
    margin: 0 auto;
  }

.big-image {
    display: block !important;
    max-width: 80% !important;
    margin: 5% auto !important;
}
/*************Manifesto*************/

.human {
    width: 100%;
    margin: 10% auto 0;
}

.manifesto {
    max-width: 80%;
    margin: 5% auto;
}

.manifesto h3 {
    font-size: 3.5em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 5%;
}

/*************Footer*************/

footer {
    background-color: #83ffcd;
}

.footer-container {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 1% 0;
}

.footer-text {
    font-size: 2em;
    color: black;
}

.footer-header {
    max-width: 80%;
    padding-top: 2%;
    margin: 0% auto 0%;
    color: black;
    font-size: 3em;
}

.footer-text a {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid black;
    padding-bottom: 1%;
}

.made-by p {
    color: black; 
    font-size: 2em;
    padding: 2% 0; 
    text-align: center;
    margin: 0 !important;
}

.footer-cv {
    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 2px 2px 0 black !important;
    text-align: center;
    padding: 1% 2%;
}

.footer-cv a, .footer-cv a:hover, .footer-cv a:active {
    font-size: 2em;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

.cv {
    padding: 1% 2%;
    border: solid 4px black;
    border-radius: 5px;
    box-shadow: 4px 4px 0 black !important;
}

.cv a, .cv a:hover, .cv a:active {
    font-size: 2em;
    color: black;
    text-decoration: none;
}

/*************About me*************/

.section-intro .cv {
    margin-top: 10%;
    padding: 2% 5%;
    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 2px 2px 0 black !important;
    display: inline-block;
    text-align: center;
}

.cv-container {
    text-align: center;
}

.section-intro .cv a, .section-intro .cv a:hover, .section-intro .cv a:active {
    font-size: 0.5em;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

/*************General Sizes*************/

.panel ul {
    padding-left: 8%;
}

.teaser p, .details p {
    font-size: 0.7em;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    line-height: 150%;
}

.contact p {
    font-size: 0.5em;
}

.list-header {
    font-size: 0.5em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-style: italic;
    line-height: 150%;
    color: black;
    text-transform: uppercase;
}

.teaser h3, .details h3 {
    font-size: 0.7em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    line-height: 150%;
    border-bottom: 0.1em solid black;
}

.panel h2 {
    font-size: 1em;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 150%;
}

.details li {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.5em;
    font-weight: normal;
    line-height: 150%;
}

.manifesto h3 {
    margin: ;
}

.card-body h3 {
    font-size: .7em;
    font-weight: 700;
}

.card-body p {
    font-size: .5em;
}

.panel, .section-intro-wrapper {
    margin-bottom: 5%;
}

.accordion span {
    line-height: 100%;
}
/*************cards*************/
.designer, .education, .creativity, .about-me { /*This are the sections*/
    margin: 5% 5% 0;   
    max-width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 5%;
 }
 
.card {
    border: 0.1em solid #1f1f1f;
    flex: 0 1 46%;
    margin: 4% 0;
    background: #1f1f1f;
    padding: 0 0 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card > header {
max-height: 50vh;
width: 100%;
}

.card-hero img {
    width: 100%;
    max-height: 100%;
    object-fit: cover !important;
    object-position: 0 0; /* positioned top left of the content box */
}

.card-body a {
    color: inherit;
    text-decoration: none;
    border-bottom: 0.1em solid white;
    padding-bottom: 0.1em;
}

.read-more {
    text-align: center;
    display: block;
}

.card-body {
    margin: 5% 5%;
}

.card h3 {
    margin-top: 10%;
}

/*************cards portfolio*************/

.portfolio-showcase {
    margin-top: 10%;
}
.portfolio-showcase .designer, .portfolio-showcase .education, .portfolio-showcase .creativity { /*This are the sections*/
    margin: 0 0 5% 0;   
    max-width: 100%;
}

.portfolio-showcase .card-body p {
    font-size: 1.8em;
}

.portfolio-showcase .card-body h3 {
    font-size: 1.8em;
}

.portfolio-showcase h3 {
    font-size: 3em;
    margin-bottom: 0;
}

.portfolio-showcase .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5%;
 }

 .portfolio-showcase .card {
    border: 0.1em solid #1f1f1f;
    flex: 0 1 31%;
    margin: 4% 0%;
    background: #1f1f1f;
    padding: 0 0 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 
.card {
    border: 0.1em solid #1f1f1f;
    flex: 0 1 40%;
    margin: 4% 2% 4% 0%;
    background: #1f1f1f;
    padding: 0 0 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card > header {
max-height: 50vh;
width: 100%;
}

.card-hero img {
    width: 100%;
    max-height: 100%;
    object-fit: cover !important;
    object-position: 0 0; /* positioned top left of the content box */
}

.whole-portfolio p {
    font-size: 0.7em;
    color: black;
    margin: 0 auto 10%;
    text-align: center;
    font-weight: bolder;
}

.whole-portfolio a {
    color: black;
    text-decoration: none;
    border-bottom: 0.1em solid black !important;
    padding-bottom: 0.1em !important;
    font-weight: 400;
}


.read-more {
    text-align: center;
    display: block;
}

.card-body {
    margin: 5% 5%;
}

.card h3 {
    margin-top: 10%;
}
/*************Accordion*************/

/*https://www.w3schools.com/howto/howto_js_accordion.asp*/

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 0.1em solid #83ffcd !important;

}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
background-color: #83ffcd;
color: black;
}
  
/* Style the accordion panel. Note: hidden by default */

.panel { /* The part that opens and closes in the accordion*/
padding: 0 4px;
background-color: #83ffcd;
display: none;
overflow: hidden;
min-height: 85vh;
}

.skills p, .skills li {
    color: white;
}

.panel ul {
    margin-top: 0;
}


.section-intro h2, .section-intro p, .section-intro li {
    color: black;
}

.accordion:after {
content: "+"; /* Unicode character for "plus" sign (+) */
width: 0.01em;
height: 0.01em;
color: #83ffcd;
font-weight: bold;
font-size: 0.8em;
margin-right: 5px;
}

.active:after {
content: "−"; /* Unicode character for "minus" sign (-) */
color:black;
}

.accordion:hover::after {
color:black;
}

/*************About me*************/

.section-intro-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.teaser {
    width: 60%;
    margin: 0 2% 0 2%;
    justify-content: space-around;
    padding: 0 0 10px 0;
}

.cv p {
    font-weight: bolder;
    text-transform: uppercase !important;
}

.section-intro .cv p {
    font-weight: bolder;
    text-transform: uppercase !important;
}

.skills {
    width: 32%;
    margin: 0 2% 0 2%;
    justify-content: space-around;
    padding: 0 0 10px 0;
}

.teaser h3, .skills h3 {
    color: black;
}

.section-intro h2 {
    margin: 0 2%;
    border-bottom: 0.2em solid black;
}

.profile-image {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    object-fit: contain;
    border-radius: 50%;
}


/*************Project*************/


.section-links {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

@media (min-width: 420.1px) {
    .mobile-navigation {
    display: none;
    }
    }

.primary-navigation li:last-of-type {
    margin-left: auto;
}

.primary-navigation {
    padding: 2% 0;
    border-bottom: 0.1em solid rgb(30, 30, 30);
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
    z-index: 10;
    transition: top 0.5s ease;
}

.primary-navigation ul {
    list-style-type: none;
    width: 80%;
    margin: 0 10%;
    overflow: hidden;
    padding: 0;
}

.primary-navigation li {
    display: inline-block;
    list-style-type: none;
    font-size: 2.1em;
    margin-right: 8%;
}

.primary-navigation a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  header.sticky {
      display: none;
  }

  header {
      transition: display 300ms ease;
  }

.project-header {
    padding: 0 0 2%;
}
.back-nav {
    width: 80%;
    margin: 10% auto 0;
}

.back-nav a {
    margin-top: 0;
    color: #83ffcd;
    font-size: 2em;
    text-decoration: none;
    padding-bottom: 0.2em;
    border-bottom: 0.1em solid #83ffcd;
}

.project-top-nav {
    margin-bottom: 0;
}

.teaser-image-wrapper {
    max-width: 80%;
    margin: 40vh 10% 0;
    padding: 0;
    line-height: 0;
}

.portfolio-images-wrapper {
    max-width: 80%;
    margin: 0 10%;
}

.portfolio-text .section-intro-wrapper {
    margin-bottom: 0;
}

.portfolio-images-wrapper img {
    object-fit: contain;
    height: auto;
    max-width: 100%;
    line-height: 0;
    margin: 5% 0;
}

.portfolio-images h3 {
    font-size: 3em;
    border-bottom: 0.15em solid white;
    width: 80%;
    margin: 0 auto;
}

.wrap {
    width: 100%;
    background-color: #83ffcd;
    height: 50vh;
    margin-top: 25vh;
}


.teaser-image-wrapper img {
    padding: 0 !important;
    object-fit: cover;
    height: 75vh;
    width: 100%;
    line-height: 0;
    position: relative;
    margin-top: -25vh;
}


.teaser-image-wrapper {
    padding: 0;
}


.portfolio-teaser h1 {
    font-size: 4.8em;
    line-height: 130%;
    font-weight: 300;

}

.teaser-headline {
    max-width: 60%;
    margin: 0% 10%;
    padding: 0;
    line-height: 0;
}

.teaser-image-wrapper {
    max-width: 80%;
    margin: 5% 10%;
    padding: 0;
    line-height: 0;
}

.project h3, .project h4, .project p, .project li, .project a {
    color: white;
}

.project h3 {
    font-size: 3em;
    border-bottom: 0.15em solid white;
}

.project h4 {
    font-size: 1.6em;
}

.project p {
    font-size: 2.1em;
}

.project li {
    font-size: 1.6em; 
}

.portfolio {
    max-width: 80%;
    margin: 5% auto 0;
}

.project .teaser {
    width: 62%;
    margin: 0 4% 0 0%;
    justify-content: space-around;
    padding: 0 0 10px 0;
}

.project .skills {
    width: 30%;
    margin: 0 0% 0 4%;
    justify-content: space-around;
    padding: 0 0 10px 0;
}
/*************Mobile 420px*************/

@media (max-width: 420px) {
   
    .mobile-navigation {
    display: block;
    }

    .human {
        margin: 20% auto 0;
    }

    .mobile-navigation {
        border-bottom: 0.1em solid rgb(30, 30, 30);
        position: fixed;
        width: 100%;
        top: 0;
        background-color: black;
        z-index: 10;
        transition: top 0.5s ease;
    }

    #menu a {
        text-decoration: none;
        color: black;
        opacity:1;
        font-size: 2.5em;
        font-weight: 400;
        font-family: 'Roboto Mono', monospace;
        text-transform: uppercase;
        transition: 200ms;
        line-height: 150%;
      }
      #menue a:hover {
        opacity:0.5;
      }
      #menu ul {
        padding: 0;
        list-style-type: none;
      }

    .mobile-navigation {
        background-color: black;
        height: 65px;
      }
      
      
      #menuToggle {
        display: flex;
        flex-direction: column;
        width: 110%;
        position: relative;
        top: 25px;
        left: 10%;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
      }
      
      #menuToggle input
      {
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
      }
      
      #menuToggle span
      {
        display: flex;
        width: 29px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #ffffff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
      }
      
      #menuToggle span:first-child
      {
        transform-origin: 0% 0%;
      }
      
      #menuToggle span:nth-last-child(2)
      {
        transform-origin: 0% 100%;
      }
      
      #menuToggle input:checked ~ span
      {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -1px);
        background:black;
      }
      #menuToggle input:checked ~ span:nth-last-child(3)
      {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
      
      #menuToggle input:checked ~ span:nth-last-child(2)
      {
        transform: rotate(-45deg) translate(0, -1px);
      }
      
      #menu
      {
        position: absolute;
        width: 100%;
        height: 100vh;
        box-shadow: 0 0 10px #85888C;
        margin: -50px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background-color: #83ffcd;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
      }
      
      #menu li
      {
        text-decoration: none;
        padding: 5% 0;
        transition-delay: 2s;
      }
      
      #menuToggle input:checked ~ ul
      {
        transform: none;
        list-style: none;
      }
}



@media (max-width: 420px) {

    .primary-navigation {
        display: none;
    }

    .footer-nav {
        max-width: 80%;
        margin: 20% auto;
        display: block;
        justify-content: space-between;
        align-items: center;
    }

    .footer-container {
        display: block;
    }

    .cv {
        padding: 1% 2%;
        border: solid 4px black;
        border-radius: 5px;
        box-shadow: 4px 4px 0 black;
        text-align: center;
        padding: 7%;
        margin-top: 20%;
    }

    .cards {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 15%;
    }
    .cards .card {
        flex: 0 1 80%;    }

    .card > header {
        width: 100%;
        max-height: 50% !important;
        max-height: 50vh !important;
        }

    .teaser, .skills {
        width: 100%;
        margin: 0 1%;
        justify-content: center;
        padding: 0 0 10px 0;
    }

    .panel {
        margin-bottom: 15%;
    }

    .card-body p {
        font-size: 0.8em;
    }

    .cards .card {
        flex: 0 1 92%;
        margin: 8% 4%;
    }

    .details li {
        font-family: 'Roboto Mono', monospace;
        font-size: 1em;
        font-weight: normal;
        line-height: 150%;
    }

    .panel h3 {
        font-size: 1em !important;
        font-weight: bolder;
    }

    .whole-portfolio a {
        padding-top: 10%;
    }

    .whole-portfolio p {
        font-size: 1em;
        color: black;
        margin: 10% auto 10%;
        text-align: center;
        font-weight: bolder;
    }


    .teaser h3, .details h3 {
        font-size: 1.2em;
    } 

    .teaser p, .details p {
        font-size: 1em;
    }

    .list-header {
        font-size: 0.8em;
    }

    .details ul {
        padding-left: 10%;
    }

    .section-intro .cv {
        margin-top: 10%;
        padding: 2% 5%;
        border: solid 0.2em black;
        border-radius: 5px;
        box-shadow: 0.2em 0.2em black !important;
        display: inline-block;
        text-align: center;
    }

    .column h3 {
        font-size: 1em !important;
        font-weight: 700;
    }

    .manifesto h3 {
        font-size: 2em;
        line-height: 200%;
    }

    .section-intro .cv a, .section-intro .cv a:hover, .section-intro .cv a:active {
        font-size: 0.8em;
        font-weight: 700;
        color: black;
        text-decoration: none;
    }


    .hero-text h1 {
        font-size: 350%;
    }

    .wrapper {
        width: 100%;
        margin: 0 auto;
    }

    .hero-text {
        margin-top: 35%;
    }

    footer div {
        margin: 2% 0% 0%;
    }

    .footer-header {
        max-width: 80%;
        padding-top: 10%;
        margin: 0% auto 0%;
        color: black;
        font-size: 3em;
    }

    .footer-cv {
        border: solid 2px black;
        border-radius: 5px;
        box-shadow: 2px 2px 0 black !important;
        text-align: center;
        padding: 1% 2%;
        margin-top: 15%;
    }

    .made-by p {
        color: black;
        font-size: 2em;
        padding: 15% 0 5%;
        text-align: center;
        margin: 0 !important;
    }

    .footer-text {
        font-size: 2em;
        margin: 15% auto;
    }

    .footer-contact {
        width: 100%;
    }
}


/*************Tablet 768px*************/

@media (max-width: 768px) {

}